/* css file for like-o-meter */

body { 
  font-family:arial, helvetica; 
}
footer { 
  font-size:8px;
  margin-top:18px;
  padding:10px;
}
nav {
  display:none;
  padding:1px;
  background-color:#41a0ea;
  color:#000;
}
nav a {
  display:inline-block;
  padding:4px 8px;
  color:#fff;
  margin-right:1px;
}
nav a:hover {
  color:#000;
  /* background-color: #ffffff; */
  text-decoration: underline;
  cursor:pointer;
}
h1 {
  padding:0;
  margin:0;
  font-size:52px;
}
h1 img {
  height:50px;
  width:50px;
  margin-right:10px;
}
#scroll {
  background-color: #000;
  height:42px;
  color:green;
  overflow: hidden;
  padding:5px 10px;


}
#scroll div {
  font-size:12px;
  line-height:12px;
  margin:0;
  padding:0;
  font-family:courier, monospace;
}
#statusline {
  font-size:18px;
  padding:10px;
  background-color:#41a0ea;
}
#LOM {
  font-size:23px;
  background-color:red;
  color:yellow;
  border:1px solid black;
}
#friendslikes { 
  padding:10px 0;
}
#friendslikes div {
  font-size:24px;
}

.fimg { 
  display:inline-block;
  margin-right:1px;
}

img.thing {
  display:inline-block;
  margin-right:11px;
	width:200px;
}

footer { 
  width:100%;
  border-top:1px dotted black;
  height:20px;
  display:none;

}
.about { 
  padding-top:5px;
  font-size:120%;

} 
.about div {
  margin-bottom:12px;
}
.about ul { 
	margin-top:0;
  font-size:24px;
  font-weight:bold;
	line-height:32px;
	width:660px;
}
.about ul li { 
	color:#336;
	margin:0 20px 0 20px;
}

span.bigger {
 display:inline-block;
  font-size:72px; 
	line-height:60px; 
	float:left;
	margin-right:8px;
} 
.category { font-size:12px; } 

#friendslikes div.h2 {
  border-top:1px solid #fff;
  margin-bottom:5px;
	padding-top:8px;
	min-height:60px;
	float:none;
	clear:left;
	font-size:14px;
}

#friendslikes div.h2 a:visited ,
#friendslikes div.h2 a {
	font-size:28px;
	color:#00c;
}
#friendslikes div.h2 img { float:left; width:160px; margin-top:-5px; } 


#friendslikes div.h3 {
  margin-left:170px;
  margin-bottom:18px;
}

.ltr {
	/* liked thing row */
	background-color:#fff;
	padding:0;
	margin:0;
}
#more {
	clear:both;
	float:none;
	background-color:yellow;
	color:red;
	cursor:pointer;
	text-align:center;
	padding:6px 0;
}

#debug {
	position:fixed;
	top:0;
	left:0;
	height:14px;
	width:640px;
	background-color:black;
	padding:1px;
	color:white;
	display:none;
}
#debug div { 
	display:inline;
	height:10px;
	font-size:9px;
	line-height:9px;
	margin:8px 10px 0 0;

}

.histogram LI {
	display: inline;
}

/* for protovis graphing lib */
#center {
  display: table-cell;
  vertical-align: middle;
}
#fig {
  position: relative;
  margin: auto;
}


