/* css file for like-o-meter */

body { 
	padding:140px 0 0 0; 
	margin:0;
  font-family:arial, helvetica; 
}

header { 
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
	height:120px;
	width:738px;
	background:white;
}
header h1 {
	font-weight:normal;
	color:#1d4088;
  padding:0;
  margin:10px 0 0 0;
  font-size:52px;
}
header h1 img {
  height:50px;
  width:50px;
  margin-right:1px;
	float:right;
}

footer { 
  display:none;
	height:20px;
	width:100%;
	margin-top:18px;
	padding:10px;
  border-top:1px dotted black;
  font-size:8px;
}

nav {
  display:none;
  padding:1px 1px 0 1px;
  background-color:#41a0ea;
  color:#000;
	border-bottom:0px solid black;
}
nav a {
  display:inline-block;
	font-weight:normal;
	margin-right:-4px;
  padding:4px 10px; 
  color:#1d4088;
	border-right:1px solid white; 
}
nav a:hover {
	 color:#fff;
  text-decoration: underline;
  cursor:pointer;
}
nav a.here { 
	color:#1D4088;
	background-color:white;
	border-right:1px solid #1d4088;
}
nav a.here:hover { 
	color:#1d4088;
	background-color:white;
}

#scroll {
  background-color: #000;
  height:42px;
  color:green;
  overflow: hidden;
  padding:5px 10px;
}
#scroll div {
  font-size:12px;
  line-height:12px;
  margin:0;
  padding:0;
  font-family:courier, monospace;
}

div#statusline {
  font-size:18px;
  padding:10px;
  background-color:#fff;
	font-weight:normal;
	color:#1D4088;
	text-align:center;
}
#LOM { /* ?unused? */
  font-size:23px;
  background-color:red;
  color:yellow;
  border:1px solid black;
}



div#friendslikes { 
  display:none;
  padding:0 0 0 0;
	border:0px solid gray;
}




div#friendslikes div {
  font-size:24px;
}
div#friendslikes div.h2 {
  border-top:1px solid #fff;
  margin-bottom:5px;
	padding-top:8px;
	min-height:60px;
	float:none;
	clear:left;
	font-size:12px;
	color:#1d4088;
}
div#friendslikes div.h2 a:visited ,
div#friendslikes div.h2 a {
	font-size:28px;
	line-height:32px;
	color:#00c;
}
div#friendslikes div.h2 img { 
	float:left; 
	width:180px; 
	margin-right:12px;
	border:1px solid #ccc;
} 
div#friendslikes div.h3 {
  margin-left:180px;
  margin-bottom:18px;
}


.fimg { 
  display:inline-block;
  margin-right:1px;
}

img.thing {
  display:inline-block;
  margin-right:1px;
	margin-bottom:20px;
	width:180px;

}


div.loading { 
	position:absolute;
	top:130;
	left:0;
	width:99%;
	display:block;
	margin-top:20%;
	color:#1d4088;
	font-size:200%;
	text-align:center;
}

div#about { 
  font-size:120%;
	display:none;
} 
div#about div {
  margin-bottom:12px;
}
div#about ul { 
	margin:10px 0;
  font-weight:normal;
	width:660px;
	list-style-type:none;
}
div#about ul li { 
	color:#336;
	margin:0 20px 12px 20px;
  font-size:16px;
}

div#common, 
div#yourlikes {
		display:none;
		font-size:200%;
}



span.bigger {
  display:inline-block;
  font-size:46px; 
  line-height:46px; 
	float:left;
	margin-right:5px;
	color:#1d4088;
} 
.category { 
	font-size:10px;
	line-height:10px;
} 

.ltr {
	/* liked thing row */
	background-color:#fff;
	padding:0;
	margin:0;
}


#more { /* this is the manual override for auto scrolling */
	clear:both;
	float:none;
	background-color:#ddd;
	color:red;
	font-weight:bold;
	cursor:pointer;
	text-align:center;
	padding:6px 0;
}

#debug {
	position:fixed;
	top:0;
	left:0;
	height:14px;
	width:640px;
	background-color:black;
	padding:1px;
	color:white;
	display:none;
}
#debug div { 
	display:inline;
	height:10px;
	font-size:9px;
	line-height:9px;
	margin:8px 10px 0 0;

}

.histogram LI {
	display: inline;
}

/* for protovis graphing lib */
#center {
  display: table-cell;
  vertical-align: middle;
}
#fig {
  position: relative;
  margin: auto;
}


